/* IMPOSTAZIONI GENERALI */
* {
  font-family: "Poppins", sans-serif;
  margin-right: -4px;
}

#linea {
  border: 0;
  height: 5px;
  background-color: transparent;
}
main {
  padding: 15px;
}

span {
  color: purple;
  font-weight: 600;
}

body {
  background-image: url(../img/sfondo.png);
  background-image: 90%;
  padding: 20px;
  max-width: 90%;
  text-align: center;
}
/* HEADER */
header {
  text-align: center;
  background-color: aqua;
  margin-inline: auto;
  color: white;
  font-weight: 300;
}
code {
  background-color: rgb(206, 206, 206);
  border: 1px solid black;
  border-radius: 10%;
  display: inline-block;
}
header div {
  padding: 20px;
}
header p {
  padding: 10px;
  padding-top: 20px;
  font-size: 1.5em;
}
header li {
  padding-block: 5px;
  list-style: none;
}
header li a {
  color: white;
}

/* MAIN */

main {
  text-align: left;
  margin-inline: auto;
  background-color: white;
}
body .ul {
  list-style-type: disc;
  list-style-position: inside;
}
body .ol {
  list-style-type: decimal;
  list-style-position: inside;
}
main li {
  padding-block: 5px;
  padding-left: 30px;
}

main h1 {
  padding-top: 20px;
  padding-block: 20px;
  font-size: 1.5em;
  font-weight: 500;
}
#didascalia {
  padding-block: 15px;
  color: grey;
}
main p {
  padding-block: 10px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 0;
  border: white;
  border-bottom: 1.5px solid blue;
}
th {
  background-color: rgb(68, 152, 249);
  color: white;
  padding: 25px;
  text-align: center;
}
tr {
  border: 0.5px solid grey;
  padding: 15px;
  border-left: 0px;
  border-right: 0px;
}
td {
  padding: 15px;
}
.color {
  background-color: rgb(233, 229, 229);
}

section {
  margin-top: 20px;
  max-width: 100%;
  padding: 5px;
  background-color: rgb(212, 212, 212);
  text-align: center;
}
h2 {
  font-weight: 600;
  font-size: xx-large;
}
section button {
  background-color: aqua;
  color: white;
  width: 30%;
  border: 0 white;
  font-weight: 900;
  margin-left: 5px;
}
section input {
  width: 60%;
  border: 0px white;
}

aside {
  padding: 20px;
  max-width: 100%;
  text-align: center;
  margin-inline: auto;
  background-color: white;
}
